/* Mixins */

@mixin border-radius($radius) {
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
    border-radius: $radius;
}

@mixin add-border($size, $color, $position) {
    @if $position=='all' {
        border: $size solid $color;
    }
    @else if $position=='top' {
        border-top: $size solid $color;
    }
    @else if $position=='bottom' {
        border-bottom: $size solid $color;
    }
    @else if $position=='right' {
        border-right: $size solid $color;
    }
    @else if $position=='left' {
        border-left: $size solid $color;
    }
    @else if $position=='top-bottom' {
        border-top: $size solid $color;
        border-bottom: $size solid $color;
    }
    @else if $position=='right-left' {
        border-left: $size solid $color;
        border-right: $size solid $color;
    }
}

@mixin linearGradient($top, $bottom) {
    background: $top;
    /* Old browsers */
    background: -moz-linear-gradient(top, $top 0%, $bottom 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $top), color-stop(100%, $bottom));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, $top 0%, $bottom 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, $top 0%, $bottom 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, $top 0%, $bottom 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, $top 0%, $bottom 100%);
}