* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
ul,
ol {
	padding: 0;
	margin: 0;
}
a {
	color: inherit;
}
.uk-container {
	padding: 0 15px;
}
.uk-grid>* {
	padding-left: 0px;
	padding-right: 0px;
	min-height: 1px;
}

.uk-grid {
    margin-left: 0px;
}
