section {
	min-height: 300px;
	div[class*="uk-width"] {
//		padding: 0;
	}
}
.page {
	min-height: calc(100vh - 400px);
}

.inline-block {
	display: inline-block;
}


ul.inline-block {
	list-style: none;
	font-size: 0;
	display: block;
	li {
		display: inline-block;
		font-size: 14px;
	}
}


.block {
	display: block;
}

.divider {
	margin: 30px 0;
	border-bottom: 1px solid #ddd;
}

.intro {
	font-size: 18px;
	line-height: 24px;
	font-weight: 300;
	font-style: italic;
	padding-bottom: 20px;
	margin-bottom: 50px;
	position: relative;
	text-align: justify;
	&:before {
		content: "";
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 60px;
		height: 3px;
		background: $green;
	}
}
