.uk-button {
	font-weight: 700;
	font-size: 16px;
	text-transform: uppercase;
	color: #fff;
	background: $dark-green;
	line-height: 40px;
	border-radius: 3px;
	min-width: 165px;
	transition: all 0.3s ease;
}

.uk-button:visited {
	opacity: 0.8;
}

.uk-button.red-bg:hover,
.uk-button.red-bg:focus {
	background: lighten($red, 10%);
	color: #fff;
}

.uk-button.green-bg:hover,
.uk-button.green-bg:focus {
	background: lighten($green, 5%);
	color: #fff;
}

.uk-button.dark-green-bg:hover,
.uk-button.dark-green-bg:focus {
	background: lighten($dark-green, 5%);
	color: #fff;
}


.uk-button.red-bg:active {
	background: darken($red, 10%);
	color: #fff;
}

.uk-button.green-bg:active {
	background: darken($green, 5%);
	color: #fff;
}

.uk-button.dark-green-bg:active {
	background: darken($dark-green, 5%);
	color: #fff;
}


