.green {
	color: $green;
}
.dark-green {
	color: $dark-green;
}
.red {
	color: $red;
}

.green-bg {
	background: $green;
	color: #fff;
}
.dark-green-bg {
	background: $dark-green;
	color: #fff;
}
.red-bg {
	background: $red;
	color: #fff;
}
