body {
	font-family: $base-font!important;
}

h1 {
	font-size: 30px;
	font-weight: 300;
	
}

p, span, a  {
	font-weight: 400;
	line-height: 21px;
	font-size: 14px;
}

h1, h2, h3, h4, h5, h6 { 
	margin: 0; 
	padding: 0; 
	font-family: $base-font;
}