@media (max-width:767px) {
	//	=======HEADER=======
	#menu {
		height: 60px;
		.uk-navbar-toggle {
			height: 60px;
		}
		.uk-navbar-brand {
			box-sizing: border-box;
			display: block;
			height: 60px;
			padding: 0 15px;
			float: left;
			position: relative;
			min-width: 80%;
			img {
				max-height: 40px;
				top: 0px;
			}
		}
	}
	[class*=uk-animation-] {
		animation-duration: 0s;
	}
	//	=======FOOTER=======
	#footer {
		legend {
			font-size: 25px;
		}
		.newsletter-text {
			width: 100%;
			max-width: 480px;
		}
		input[type="text"] {
			min-width: 195px;
		}
		button {
			min-width: 80px;
			font-size: 13px;
			padding: 0 5px;
		}
		.contact-column {
			float: left;
			margin-top: 30px;
			ul {
				text-align: left!important;
				i {
					float: left;
				}
			}
		}
		.footer-bottom {
			margin-top: 30px;
		}
	}
	//	=======HOMEPAGE=======
	#homepage {
		#hero {
			height: auto;
			min-height: 300px;
			background-position: 66% 0px!important;
			.hero-content {
				max-width: 100%;
				position: relative;
				padding: 30px 0 30px;
				bottom: 0;
				h1 {
					line-height: 40px;
					font-size: 36px;
				}
			}
		}
		section.main-view .card {
			.card-image {
				height: 125px;
			}
			.card-content {
				height: auto;
				min-height: 225px;
			}
		}
		section.volunteer {
			.content {
				margin-bottom: 30px;
			}
			.images-grid li {
				display: block;
				float: left;
				margin: 0;
			}
			.images-grid li:nth-child(1),
			.images-grid li:nth-child(2) {
				margin-bottom: 0px;
			}
			.images-grid {
				li {
					height: 85px;
					.element {
						height: 85px;
						width: 100%;
					}
				}
			}
		}
		section.partners li {
			padding: 0 20px;
			margin-bottom: 10px;
			img {
				max-height: 25px;
			}
		}
	}
	//	=======EVENT PAGE=======
	#event {
		.detail-bar {
			float: left;
			li {
				margin: 5px 0;
			}
		}
		#mediaGallery {
			min-height: auto;
			padding-bottom: 70px;
			#box-container .box {
				width: 50%;
				height: 85px;
			}
		}
	}
	#testimonials {
		.uk-slideset {
			li {
				width: 100%;
			}
		}
	}
}
@media (min-width:600px) and (max-width: 767px) {
	#homepage {
		#hero {
			height: 350px;
			min-height: 300px;
			background-position: 66% 0px!important;
			position: relative;
			.hero-content {
				position: absolute;
				padding: 30px 0 30px;
				bottom: 30px;
			}
		}
		section.main-view .card {
			.card-image {
				height: 155px;
			}
		}
		section.volunteer {
			.images-grid {
				li {
					height: 145px;
					.element {
						height: 145px;
						width: 100%;
					}
				}
			}
		}
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	#homepage {
		#hero {
			position: relative;
			.hero-content {
				max-width: 75%;
			}
		}
		section.main-view .card .card-content {
			padding: 15px 0;
			span {
				padding: 7px 15px;
			}
		}
		section.volunteer {
			span {
				max-width: 320px;
			}
			.images-grid {
				li {
					display: block;
					float: left;
					height: 145px;
					.element {
						height: 145px;
						width: 100%;
					}
				}
			}
			.images-grid li:nth-child(1),
			.images-grid li:nth-child(2) {
				margin-bottom: 0px;
			}
		}
	}
	//	===footer===
	#footer {
		legend {
			font-size: 25px;
		}
		.newsletter-text {
			width: 100%;
			max-width: 480px;
		}
		input[type="text"] {
			min-width: 235px;
		}
		button {
			min-width: 80px;
			font-size: 15px;
			padding: 0 15px;
		}
		.footer-bottom {
			margin-top: 50px;
		}
	}
	#event {
		.detail-bar {
			float: none;
		}
		#mediaGallery {
			min-height: auto;
			padding-bottom: 70px;
		}
		.event-image {
			margin-left: 0px;
			margin-bottom: 0px;
			margin-top: 30px;
			width: 100%;
			float: none;
		}
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	#homepage {
		section.volunteer {
			span {
				max-width: 320px;
			}
			.images-grid {
				li {
					display: block;
					float: left;
					height: 145px;
					.element {
						height: 145px;
						width: 100%;
					}
				}
			}
			.images-grid li:nth-child(1),
			.images-grid li:nth-child(2) {
				margin-bottom: 0px;
			}
		}
	}
	#event {
		#mediaGallery {
			min-height: auto;
			padding-bottom: 70px;
		}
		.event-image {
			margin-top: 30px;
			width: 450px;
		}
	}
	#footer .newsletter-text {
		width: 70%;
	}
}
