#donation {
	.donation-card {
		.card {
			background: #eee;
			min-height: 500px;
			transform: translateY(-140px);
			padding-top: 50px;
			text-align: center;
			box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5);
			.donation-intro,
			.send-option,
			.more-about {
				max-width: 390px;
				font-weight: 300;
				margin: auto;
				padding: 50px 0;
				ol {
					display: block;
					margin-top: 20px;
					a {
						text-decoration: none;
						color: $green;
					}
				}
			}
			.more-about {
				padding-bottom: 10px;
			}
			.donation-method {
				position: relative;
				overflow: hidden;
				li {
					min-height: 230px;
					width: 50%;
					background-size: cover;
					display: block;
					float: left;
					color: #fff;
					background-repeat: no-repeat;
					background-position: center center;
					&:first-child {
						background-image: url('../images/donation_bg1.jpg');
					}
					&:last-child {
						background-image: url('../images/donation_bg2.jpg')
					}
					h1 {
						color: #fff;
					}
					span {
						padding: 20px 0;
						max-width: 270px;
						margin: auto;
					}
					.uk-button.bordered {
						background: transparent;
						border: 2px solid #fff;
						&:hover {
							background: #fff;
							&:focus,
							&:active {
								color: #444;
							}
						}
						&:focus,
						&:active {
							color: #fff;
						}
					}
					.uk-vertical-align-middle {
						display: inline;
					}
				}
			}
			hr {
				margin-bottom: none;
				max-width: 80%;
				margin: auto;
			}
			.card-footer {
				height: 160px;
				position: relative;
				background: url('../images/donation_card_bg.png');
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center bottom;
				h1 {
					color: #fff;
					font-weight: 700;
					position: absolute;
					bottom: 30px;
					text-align: center;
					width: 100%;
				}
			}
		}
	}
}
