#footer {
	padding-top: 50px; 
	background: $dark-green;
	padding-bottom: 0;
	border-top: 10px solid $green;
	color: #fff;
	legend {
		font-size: 30px;
		font-weight: 300;
		border: none;
		&:after {
			display: none;
		}
	}
	button {
		background: $green;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		&:hover, &:focus {
			background: lighten($green, 10%);
			color: #fff;
		}
	}
	input[type="text"] {
		min-width: 230px;
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
	}
	.newsletter-text {
		font-size: 14px;
		line-height: 21px;
		font-weight: 300;
	}
	.contact-column {
		ul {
			list-style: none;
			margin-top: 30px;
			li {
				margin: 0 0 15px 0;
				font-weight: 300;
			}
			i {
				color: $green;
				font-size: 20px;
				display: inline-block;
				min-width: 30px;
				position: relative;
				top: 3px;
			}
		}
		h1 {
			color: #fff;
		}
		a {
			text-decoration: none;
			&:hover {
				color: $green;
			}
		}
	}
	.footer-bottom {
		margin-top: 70px;
		min-height: 60px;
		padding: 15px 0;
		background: rgba(0,0,0,0.5);
		list-style: none;
		text-align: center;
		font-size: 0;
		font-size: 0;
		li {
			display: inline-block;
			font-size: 12px;
			padding: 0 15px;
			opacity: 0.5;
			position: relative;
			&:not(:last-child):after {
				content: "|";
				position: absolute;
				right: 0;
				display: block;
				top: 0;
			}
		}
	}
}