.uk-navbar-nav>li>a {
	font-family: $base-font;
	line-height: 60px;
	height: 60px;
}
.uk-navbar-nav>li.uk-active>a {
	background-color: transparent;
	color: $green;
}
.uk-navbar {
	background: #fff;
	color: #444;
}
.uk-navbar-brand {
	padding: 0;
	img {
		max-height: 50px;
		position: relative;
		top: 5px;
	}
}
.uk-navbar-nav>li.uk-open>a,
.uk-navbar-nav>li:hover>a,
.uk-navbar-nav>li>a:focus {
	background-color: transparent;
	color: $green;
	outline: 0;
}
#menu {
	.donatii {
		a:before {
			content: "";
			display: block;
			width: 98%;
			margin: auto;
			height: 30px;
			border-radius: 3px;
			border: 1px solid $green;
			position: absolute;
			top: 50%;
			left: 0;
			right: 0;
			transform: translateY(-50%);
		}
	}
}
//==mobile navbar==
.uk-offcanvas-bar {
	background: $dark-green;
	padding-top: 30px;
	li {
		border-bottom: 1px solid rgba(255, 255, 255, 0.1);
		a {
			color: #fff;
			line-height: 40px;
			&:hoover {
				color: $green;
			}
		}
	}
}
