#homepage {
	section.main-view {
		.uk-grid {
			div[class*="uk-width"] {
				padding: 0;
			}
		}
		.card {
			.card-image {
				height: 225px;
				background-size: cover!important;
				background-position: center center!important;
				background-repeat: no-repeat!important;
			}
			.card-content {
				padding: 30px 0;
				height: 225px;
				span {
					max-width: 420px;
					text-align: justify;
					display: block;
					margin: auto;
					padding: 20px 0;
				}
				.event-details {
					padding: 20px 0;
					li {
						padding: 0 15px;
						i {
							font-size: 18px;
							position: relative;
							top: 2px;
						}
					}
				}
			}
		}
	}
	section.volunteer {
		background-size: cover!important;
		background-attachment: fixed!important;
		background-position: center center!important;
		background-repeat: no-repeat!important;
		padding: 30px 0;
		color: #fff;
		h1 {
			color: #fff;
		}
		span {
			padding: 30px 0;
			max-width: 360px;
			margin: auto;
			text-align: justify;
		}
		.images-grid {
			li {
				width: 50%;
				height: 155px;
				margin: 0;
				padding: 0;
				.element {
					height: 155px;
					width: 280px;
					background-size: cover!important;
					background-position: center top!important;
					background-repeat: no-repeat!important;
				}
				&:nth-child(1),
				&:nth-child(2) {
					margin-bottom: 20px;
				}
			}
		}
	}
	section.blog {
		background: #fff;
		padding: 30px 0;
		.content {
			span {
				padding: 20px 0;
				text-align: justify;
			}
		}
		img {
			display: block;
			max-width: 95%;
		}
	}
	section.partners {
		min-height: auto;
		padding-bottom: 50px;
		li {
			padding: 0 40px;
			img {
				max-height: 35px;
			}
		}
	}
}
