@media (max-width: 767px) { #menu { height: 60px; }
  #menu .uk-navbar-toggle { height: 60px; }
  #menu .uk-navbar-brand { box-sizing: border-box; display: block; height: 60px; padding: 0 15px; float: left; position: relative; min-width: 80%; }
  #menu .uk-navbar-brand img { max-height: 40px; top: 0px; }
  [class*=uk-animation-] { animation-duration: 0s; }
  #footer legend { font-size: 25px; }
  #footer .newsletter-text { width: 100%; max-width: 480px; }
  #footer input[type="text"] { min-width: 195px; }
  #footer button { min-width: 80px; font-size: 13px; padding: 0 5px; }
  #footer .contact-column { float: left; margin-top: 30px; }
  #footer .contact-column ul { text-align: left !important; }
  #footer .contact-column ul i { float: left; }
  #footer .footer-bottom { margin-top: 30px; }
  #homepage #hero { height: auto; min-height: 300px; background-position: 66% 0px !important; }
  #homepage #hero .hero-content { max-width: 100%; position: relative; padding: 30px 0 30px; bottom: 0; }
  #homepage #hero .hero-content h1 { line-height: 40px; font-size: 36px; }
  #homepage section.main-view .card .card-image { height: 125px; }
  #homepage section.main-view .card .card-content { height: auto; min-height: 225px; }
  #homepage section.volunteer .content { margin-bottom: 30px; }
  #homepage section.volunteer .images-grid li { display: block; float: left; margin: 0; }
  #homepage section.volunteer .images-grid li:nth-child(1), #homepage section.volunteer .images-grid li:nth-child(2) { margin-bottom: 0px; }
  #homepage section.volunteer .images-grid li { height: 85px; }
  #homepage section.volunteer .images-grid li .element { height: 85px; width: 100%; }
  #homepage section.partners li { padding: 0 20px; margin-bottom: 10px; }
  #homepage section.partners li img { max-height: 25px; }
  #event .detail-bar { float: left; }
  #event .detail-bar li { margin: 5px 0; }
  #event #mediaGallery { min-height: auto; padding-bottom: 70px; }
  #event #mediaGallery #box-container .box { width: 50%; height: 85px; }
  #testimonials .uk-slideset li { width: 100%; } }
@media (min-width: 600px) and (max-width: 767px) { #homepage #hero { height: 350px; min-height: 300px; background-position: 66% 0px !important; position: relative; }
  #homepage #hero .hero-content { position: absolute; padding: 30px 0 30px; bottom: 30px; }
  #homepage section.main-view .card .card-image { height: 155px; }
  #homepage section.volunteer .images-grid li { height: 145px; }
  #homepage section.volunteer .images-grid li .element { height: 145px; width: 100%; } }
@media (min-width: 768px) and (max-width: 991px) { #homepage #hero { position: relative; }
  #homepage #hero .hero-content { max-width: 75%; }
  #homepage section.main-view .card .card-content { padding: 15px 0; }
  #homepage section.main-view .card .card-content span { padding: 7px 15px; }
  #homepage section.volunteer span { max-width: 320px; }
  #homepage section.volunteer .images-grid li { display: block; float: left; height: 145px; }
  #homepage section.volunteer .images-grid li .element { height: 145px; width: 100%; }
  #homepage section.volunteer .images-grid li:nth-child(1), #homepage section.volunteer .images-grid li:nth-child(2) { margin-bottom: 0px; }
  #footer legend { font-size: 25px; }
  #footer .newsletter-text { width: 100%; max-width: 480px; }
  #footer input[type="text"] { min-width: 235px; }
  #footer button { min-width: 80px; font-size: 15px; padding: 0 15px; }
  #footer .footer-bottom { margin-top: 50px; }
  #event .detail-bar { float: none; }
  #event #mediaGallery { min-height: auto; padding-bottom: 70px; }
  #event .event-image { margin-left: 0px; margin-bottom: 0px; margin-top: 30px; width: 100%; float: none; } }
@media (min-width: 992px) and (max-width: 1199px) { #homepage section.volunteer span { max-width: 320px; }
  #homepage section.volunteer .images-grid li { display: block; float: left; height: 145px; }
  #homepage section.volunteer .images-grid li .element { height: 145px; width: 100%; }
  #homepage section.volunteer .images-grid li:nth-child(1), #homepage section.volunteer .images-grid li:nth-child(2) { margin-bottom: 0px; }
  #event #mediaGallery { min-height: auto; padding-bottom: 70px; }
  #event .event-image { margin-top: 30px; width: 450px; }
  #footer .newsletter-text { width: 70%; } }
