/* Mixins */
.uk-button { font-weight: 700; font-size: 16px; text-transform: uppercase; color: #fff; background: #003b49; line-height: 40px; border-radius: 3px; min-width: 165px; transition: all 0.3s ease; }

.uk-button:visited { opacity: 0.8; }

.uk-button.red-bg:hover, .uk-button.red-bg:focus { background: #e7276a; color: #fff; }

.uk-button.green-bg:hover, .uk-button.green-bg:focus { background: #00bbb4; color: #fff; }

.uk-button.dark-green-bg:hover, .uk-button.dark-green-bg:focus { background: #005063; color: #fff; }

.uk-button.red-bg:active { background: #971140; color: #fff; }

.uk-button.green-bg:active { background: #008882; color: #fff; }

.uk-button.dark-green-bg:active { background: #002630; color: #fff; }

.green { color: #00a19b; }

.dark-green { color: #003b49; }

.red { color: #c51653; }

.green-bg { background: #00a19b; color: #fff; }

.dark-green-bg { background: #003b49; color: #fff; }

.red-bg { background: #c51653; color: #fff; }

input { border-radius: 3px; border: 1px solid #ddd; min-height: 40px; border-radius: 3px; }

* { padding: 0; margin: 0; box-sizing: border-box; }

ul, ol { padding: 0; margin: 0; }

a { color: inherit; }

.uk-container { padding: 0 15px; }

.uk-grid > * { padding-left: 0px; padding-right: 0px; min-height: 1px; }

.uk-grid { margin-left: 0px; }

body { font-family: "Roboto", sans-serif !important; }

h1 { font-size: 30px; font-weight: 300; }
@media (max-width: 767px) { h1 { font-size: 25px; line-height: 35px; } }

p, span, a { font-weight: 400; line-height: 21px; font-size: 14px; }

h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; font-family: "Roboto", sans-serif; }

section { min-height: 300px; }

.page { min-height: calc(100vh - 400px); }

.inline-block { display: inline-block; }

ul.inline-block { list-style: none; font-size: 0; display: block; }
ul.inline-block li { display: inline-block; font-size: 14px; }

.block { display: block; }

.divider { margin: 30px 0; border-bottom: 1px solid #ddd; }

.intro { font-size: 18px !important; line-height: 24px; font-weight: 300; font-style: italic; padding-bottom: 20px; margin-bottom: 50px; position: relative; text-align: justify; }
.intro:before { content: ""; display: block; position: absolute; bottom: 0; left: 0; width: 60px; height: 3px; background: #00a19b; }

.uk-navbar-nav > li > a { font-family: "Roboto", sans-serif; line-height: 60px; height: 60px; }

.uk-navbar-nav > li.uk-active > a { background-color: transparent; color: #00a19b; }

.uk-navbar { background: #fff; color: #444; }

.uk-navbar-brand { padding: 0; }
.uk-navbar-brand img { max-height: 50px; position: relative; top: 5px; }

.uk-navbar-nav > li.uk-open > a, .uk-navbar-nav > li:hover > a, .uk-navbar-nav > li > a:focus { background-color: transparent; color: #00a19b; outline: 0; }

#menu .donatii a:before { content: ""; display: block; width: 98%; margin: auto; height: 30px; border-radius: 3px; border: 1px solid #00a19b; position: absolute; top: 50%; left: 0; right: 0; transform: translateY(-50%); }

.uk-offcanvas-bar { background: #003b49; padding-top: 30px; }
.uk-offcanvas-bar li { border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
.uk-offcanvas-bar li a { color: #fff; line-height: 40px; }
.uk-offcanvas-bar li a:hoover { color: #00a19b; }

#footer { padding-top: 50px; background: #003b49; padding-bottom: 0; border-top: 10px solid #00a19b; color: #fff; }
#footer legend { font-size: 30px; font-weight: 300; border: none; }
#footer legend:after { display: none; }
#footer button { background: #00a19b; border-top-left-radius: 0; border-bottom-left-radius: 0; }
#footer button:hover, #footer button:focus { background: #00d4cc; color: #fff; }
#footer input[type="text"] { min-width: 230px; border-top-left-radius: 3px; border-bottom-left-radius: 3px; }
#footer .newsletter-text { font-size: 14px; line-height: 21px; font-weight: 300; }
#footer .contact-column ul { list-style: none; margin-top: 30px; }
#footer .contact-column ul li { margin: 0 0 15px 0; font-weight: 300; }
#footer .contact-column ul i { color: #00a19b; font-size: 20px; display: inline-block; min-width: 30px; position: relative; top: 3px; }
#footer .contact-column h1 { color: #fff; }
#footer .contact-column a { text-decoration: none; }
#footer .contact-column a:hover { color: #00a19b; }
#footer .footer-bottom { margin-top: 70px; min-height: 60px; padding: 15px 0; background: rgba(0, 0, 0, 0.5); list-style: none; text-align: center; font-size: 0; font-size: 0; }
#footer .footer-bottom li { display: inline-block; font-size: 12px; padding: 0 15px; opacity: 0.5; position: relative; }
#footer .footer-bottom li:not(:last-child):after { content: "|"; position: absolute; right: 0; display: block; top: 0; }

#hero { height: 300px; background-color: #eee; background-size: cover !important; background-repeat: no-repeat !important; background-position: 50% 0; position: relative; }
#hero:after { content: ""; display: block; position: absolute; bottom: 0; left: 0; height: 10px; width: 50%; background: #00a19b; }
#hero:before { content: ""; display: block; width: 50%; position: absolute; bottom: 0; right: 0; height: 10px; background: #003b49; }
#hero .hero-content { position: absolute; max-width: 50%; bottom: 30px; color: #fff; }
#hero .hero-content h1 { padding-bottom: 30px; color: #fff; font-size: 48px; text-shadow: 0px 0px 10px #003b49; }
#hero .hero-content span { text-shadow: 0px 0px 10px #003b49; }
#hero .uk-grid, #hero .uk-container, #hero div[class*=".uk-width"] { height: 100%; position: relative; }

#homepage section.main-view .uk-grid div[class*="uk-width"] { padding: 0; }
#homepage section.main-view .card .card-image { height: 225px; background-size: cover !important; background-position: center center !important; background-repeat: no-repeat !important; }
#homepage section.main-view .card .card-content { padding: 30px 0; height: 225px; }
#homepage section.main-view .card .card-content span { max-width: 420px; text-align: justify; display: block; margin: auto; padding: 20px 0; }
#homepage section.main-view .card .card-content .event-details { padding: 20px 0; }
#homepage section.main-view .card .card-content .event-details li { padding: 0 15px; }
#homepage section.main-view .card .card-content .event-details li i { font-size: 18px; position: relative; top: 2px; }
#homepage section.volunteer { background-size: cover !important; background-attachment: fixed !important; background-position: center center !important; background-repeat: no-repeat !important; padding: 30px 0; color: #fff; }
#homepage section.volunteer h1 { color: #fff; }
#homepage section.volunteer span { padding: 30px 0; max-width: 360px; margin: auto; text-align: justify; }
#homepage section.volunteer .images-grid li { width: 50%; height: 155px; margin: 0; padding: 0; }
#homepage section.volunteer .images-grid li .element { height: 155px; width: 280px; background-size: cover !important; background-position: center top !important; background-repeat: no-repeat !important; }
#homepage section.volunteer .images-grid li:nth-child(1), #homepage section.volunteer .images-grid li:nth-child(2) { margin-bottom: 20px; }
#homepage section.blog { background: #fff; padding: 30px 0; }
#homepage section.blog .content span { padding: 20px 0; text-align: justify; }
#homepage section.blog img { display: block; max-width: 95%; }
#homepage section.partners { min-height: auto; padding-bottom: 50px; }
#homepage section.partners li { padding: 0 40px; }
#homepage section.partners li img { max-height: 35px; }

#event section.event-details { padding: 30px 0; }
#event section.event-details .event-name { font-size: 36px; }
#event section.event-details .detail-bar { margin: 20px 0; padding: 10px; line-height: 1; }
#event section.event-details .detail-bar li { padding-right: 40px; }
#event section.event-details .event-image { margin-left: 30px; margin-bottom: 30px; }
#event section.event-details span { text-align: justify; }

#contact #googlemaps { height: 850px; width: 100%; position: relative; z-index: 0; /* Set z-index to 0 as it will be on a layer below the contact form */ }
#contact #googlemaps .gm-style-mtc { display: none; }
#contact .contact-container { position: relative; }
#contact #contactform { position: absolute; width: 580px; max-width: 50%; height: 850px; top: 0; right: 50%; z-index: 1; /* The z-index should be higher than Google Maps */ padding: 0 15px; background: #fff; }
#contact #contactform h1 { margin: 50px 0; }
#contact #contactform p { width: 400px; }
#contact #contactform a, #contact #contactform i { font-size: 18px; margin: 20px 0; text-decoration: none; }
#contact #contactform a:hover, #contact #contactform i:hover { color: #00a19b; }
#contact #contactform i { color: #00a19b; width: 25px; }
#contact #contactform h2 { font-size: 18px; font-weight: 400; margin: 20px 0 40px; }
#contact #contactform .contact-fields { height: 300px; }

#mediaGallery { min-height: 550px; background-size: cover !important; background-repeat: no-repeat !important; background-position: center center !important; background-attachment: fixed !important; text-align: center; padding: 30px 0; }
#mediaGallery h1 { color: #fff; }
#mediaGallery #box-container { margin-top: 30px; max-height: 400px; overflow-x: hidden; overflow-y: scroll; }
#mediaGallery #box-container .box { width: 25%; height: 135px; position: relative; display: block; float: left; overflow: hidden; background: #003b49; }
#mediaGallery #box-container .box:before { content: "\f00e"; font-family: "FontAwesome"; display: block; top: 50%; left: 50%; transform: translate(-50%, -50%); position: absolute; color: #fff; font-size: 24px; }
#mediaGallery #box-container .box a { display: block; width: 100%; height: 100%; }
#mediaGallery #box-container .box img { position: absolute; top: 0; left: 50%; opacity: 1; transition: all 0.3s ease; transform: translateX(-50%); }
#mediaGallery #box-container .box img.wide { min-height: 100%; width: auto; max-width: 100%; }
#mediaGallery #box-container .box img.tall { width: 100%; height: auto; }
#mediaGallery #box-container .box:hover img { opacity: 0; }
#mediaGallery #box-container .box .swipebox-video:hover:after { display: none; }
#mediaGallery #box-container .box .swipebox-video:after { content: "\f04b"; font-family: "FontAwesome"; display: block; top: 50%; left: 50%; transform: translate(-50%, -50%); position: absolute; color: #fff; font-size: 34px; }
#mediaGallery #box-container::-webkit-scrollbar { display: none; }
#mediaGallery #box-container::-moz-appearance { display: none; }
#mediaGallery:after { content: ""; display: block; bottom: 0; left: 0; right: 0; height: 185px; width: 100%; position: absolute; pointer-events: none; background: url("../images/gallery_overlay.png"); background-size: cover; background-position: center bottom; background-repeat: no-repeat; }

#blog section.event-details { padding: 30px 0; }
#blog section.event-details .event-name { margin-bottom: 30px; }
#blog section.event-details .event-image { margin-left: 30px; margin-bottom: 30px; width: 550px; }
#blog section.event-details span { text-align: justify; }
#blog section.event-details .details p { float: right; font-size: 18px; font-weight: 600; }
#blog section.event-details .details p span { color: #00a19b; font-size: 18px; font-weight: 600; }

#testimonials { padding: 50px 0; }
#testimonials .uk-slideset { padding-top: 30px; }
#testimonials .testimonial { min-height: 250px; }
#testimonials .testimonial .testimonial-image { margin-bottom: 20px; }
#testimonials .testimonial .testimonial-image img { max-height: 100px; max-width: 100px; border: 3px solid #00a19b; }
#testimonials .testimonial .testimonial-text { font-size: 18px; font-style: italic; line-height: 27px; font-weight: 300; max-width: 260px; margin: auto; }
#testimonials .testimonial .testimonial-author { font-size: 12px; color: #999; margin-top: 10px; }

/* 1. Gutter 2. Remove default list style */
.uk-dotnav { display: -ms-flexbox; display: -webkit-flex; display: flex; -ms-flex-wrap: wrap; -webkit-flex-wrap: wrap; flex-wrap: wrap; /* 1 */ margin-left: -15px; margin-top: -15px; /* 2 */ padding: 0; list-style: none; }

/* 1. Space is allocated solely based on content dimensions 2. Horizontal gutter is using `padding` so `uk-width-*` classes can be applied */
.uk-dotnav > * { /* 1 */ -ms-flex: none; -webkit-flex: none; flex: none; /* 2 */ padding-left: 15px; margin-top: 15px; }

/* DEPRECATED IE9 Support */
.uk-dotnav:before, .uk-dotnav:after { content: ""; display: block; overflow: hidden; }

.uk-dotnav:after { clear: both; }

.uk-dotnav > * { float: left; }

/* Items ========================================================================== */
/* Items 1. Hide text if present */
.uk-dotnav > * > * { display: block; box-sizing: content-box; width: 20px; height: 20px; border-radius: 50%; background: #003b49; /* 1 */ text-indent: 100%; overflow: hidden; white-space: nowrap; }

/* Hover 1. Apply hover style also to focus state 2. Remove default focus style */
.uk-dotnav > * > :hover, .uk-dotnav > * > :focus { background: #00a19b; /* 2 */ outline: none; }

/* OnClick */
.uk-dotnav > * > :active { background: #00a19b; }

/* Active */
.uk-dotnav > .uk-active > * { background: #00a19b; }

#volunteer .vol-wrap { margin-right: 10px; }
#volunteer .vol-wrap h1 { margin: 40px 0; }
#volunteer .vol-wrap p { margin-bottom: 50px; }
#volunteer .vol-wrap h2 { font-size: 18px; font-weight: 400; margin-bottom: 30px; }
#volunteer .vol-wrap .signup-fields { height: 300px; }
#volunteer .vol-wrap .uk-button { margin-bottom: 50px; }
#volunteer .vol-images { background-color: #eeeeee; padding: 50px; }
#volunteer .vol-images .img { margin: 1px; background-size: auto; background-repeat: no-repeat; background-position: center; }
#volunteer .vol-images .img1 { height: 370px; }
#volunteer .vol-images .img2 { height: 184px; }
#volunteer .vol-images .img3 { height: 185px; }
#volunteer .uk-grid + .uk-grid, #volunteer .uk-grid-margin, #volunteer .uk-grid > * > .uk-panel + .uk-panel { margin-top: 0; }

#donation .donation-card .card { background: #eee; min-height: 500px; transform: translateY(-140px); padding-top: 50px; text-align: center; box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5); }
#donation .donation-card .card .donation-intro, #donation .donation-card .card .send-option, #donation .donation-card .card .more-about { max-width: 390px; font-weight: 300; margin: auto; padding: 50px 0; }
#donation .donation-card .card .donation-intro ol, #donation .donation-card .card .send-option ol, #donation .donation-card .card .more-about ol { display: block; margin-top: 20px; }
#donation .donation-card .card .donation-intro ol a, #donation .donation-card .card .send-option ol a, #donation .donation-card .card .more-about ol a { text-decoration: none; color: #00a19b; }
#donation .donation-card .card .more-about { padding-bottom: 10px; }
#donation .donation-card .card .donation-method { position: relative; overflow: hidden; }
#donation .donation-card .card .donation-method li { min-height: 230px; width: 50%; background-size: cover; display: block; float: left; color: #fff; background-repeat: no-repeat; background-position: center center; }
#donation .donation-card .card .donation-method li:first-child { background-image: url("../images/donation_bg1.jpg"); }
#donation .donation-card .card .donation-method li:last-child { background-image: url("../images/donation_bg2.jpg"); }
#donation .donation-card .card .donation-method li h1 { color: #fff; }
#donation .donation-card .card .donation-method li span { padding: 20px 0; max-width: 270px; margin: auto; }
#donation .donation-card .card .donation-method li .uk-button.bordered { background: transparent; border: 2px solid #fff; }
#donation .donation-card .card .donation-method li .uk-button.bordered:hover { background: #fff; }
#donation .donation-card .card .donation-method li .uk-button.bordered:hover:focus, #donation .donation-card .card .donation-method li .uk-button.bordered:hover:active { color: #444; }
#donation .donation-card .card .donation-method li .uk-button.bordered:focus, #donation .donation-card .card .donation-method li .uk-button.bordered:active { color: #fff; }
#donation .donation-card .card .donation-method li .uk-vertical-align-middle { display: inline; }
#donation .donation-card .card hr { margin-bottom: none; max-width: 80%; margin: auto; }
#donation .donation-card .card .card-footer { height: 160px; position: relative; background: url("../images/donation_card_bg.png"); background-size: cover; background-repeat: no-repeat; background-position: center bottom; }
#donation .donation-card .card .card-footer h1 { color: #fff; font-weight: 700; position: absolute; bottom: 30px; text-align: center; width: 100%; }
