/* Mixins */
.uk-button {
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  background: #003b49;
  line-height: 40px;
  border-radius: 3px;
  min-width: 165px; }

input {
  border-radius: 3px;
  border: 1px solid #ddd;
  min-height: 40px;
  border-radius: 3px; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

ul,
ol {
  padding: 0;
  margin: 0; }

a {
  color: inherit; }

.uk-container {
  padding: 0 15px; }

.uk-grid > * {
  padding-left: 15px;
  padding-right: 15px; }

.uk-grid {
  margin-left: 0px; }

body {
  font-family: "Roboto", sans-serif !important; }

h1 {
  font-size: 30px;
  font-weight: 300; }

p, span, a {
  font-weight: 400; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif; }

section {
  min-height: 300px; }

.page {
  min-height: calc(100vh - 400px); }

.uk-navbar-nav > li > a {
  font-family: "Roboto", sans-serif;
  line-height: 60px;
  height: 60px; }

.uk-navbar-nav > li.uk-active > a {
  background-color: rgba(0, 0, 0, 0.13);
  color: #444; }

.uk-navbar {
  background: #fff;
  color: #444; }

.uk-navbar-brand {
  padding: 0; }
  .uk-navbar-brand img {
    max-height: 50px;
    position: relative;
    top: 5px; }

#menu .donatii a:before {
  content: "";
  display: block;
  width: 100%;
  height: 30px;
  border-radius: 3px;
  border: 1px solid #00a19b;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%); }

#footer {
  padding-top: 50px;
  background: #003b49;
  padding-bottom: 0;
  border-top: 10px solid #00a19b;
  color: #fff; }
  #footer legend {
    font-size: 30px;
    font-weight: 300;
    border: none; }
    #footer legend:after {
      display: none; }
  #footer button {
    background: #00a19b;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }
  #footer input[type="text"] {
    min-width: 230px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px; }
  #footer .newsletter-text {
    font-size: 14px;
    line-height: 21px;
    font-weight: 300; }
  #footer .contact-column ul {
    list-style: none;
    margin-top: 30px; }
    #footer .contact-column ul li {
      margin: 0 0 15px 0;
      font-weight: 300; }
    #footer .contact-column ul i {
      color: #00a19b;
      font-size: 20px;
      display: inline-block;
      min-width: 30px;
      position: relative;
      top: 3px; }
  #footer .contact-column h1 {
    color: #fff; }
  #footer .footer-bottom {
    margin-top: 70px;
    min-height: 60px;
    padding: 15px 0;
    background: rgba(0, 0, 0, 0.5);
    list-style: none;
    text-align: center;
    font-size: 0;
    font-size: 0; }
    #footer .footer-bottom li {
      display: inline-block;
      font-size: 12px;
      padding: 0 15px;
      opacity: 0.5;
      position: relative; }
      #footer .footer-bottom li:not(:last-child):after {
        content: "|";
        position: absolute;
        right: 0;
        display: block;
        top: 0; }

#hero {
  height: 300px;
  background-color: #eee;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: 50% 0;
  position: relative; }
  #hero:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 10px;
    width: 50%;
    background: #00a19b; }
  #hero:before {
    content: "";
    display: block;
    width: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 10px;
    background: #003b49; }
  #hero .hero-content {
    position: absolute;
    max-width: 50%;
    bottom: 30px;
    color: #fff; }
    #hero .hero-content h1 {
      padding-bottom: 30px;
      color: #fff;
      font-size: 48px;
      text-shadow: 10px 10px 10px #003b49; }
    #hero .hero-content span {
      text-shadow: 0px 0px 20px #003b49; }
  #hero .uk-grid,
  #hero .uk-container,
  #hero div[class*=".uk-width"] {
    height: 100%;
    position: relative; }

/*# sourceMappingURL=styles.css.map */
