#blog {
    section.event-details {
        padding: 30px 0;
        .event-name {
            margin-bottom: 30px;
        }
        .event-image {
            margin-left: 30px;
            margin-bottom: 30px;
            width: 550px;
        }
        span {
            text-align: justify;
        }
        .details {
            p {
                float: right;
                font-size: 18px;
                font-weight: 600;
                span {
                    color: $green;
                    font-size: 18px;
                    font-weight: 600;
                }
            }
        }
    }
}