#contact {
    #googlemaps {
        height: 850px;
        width: 100%;
        position: relative;
        z-index: 0; /* Set z-index to 0 as it will be on a layer below the contact form */
        .gm-style-mtc {
            display: none;
        }
    }

    #contactform {
        position: absolute;
        width: 580px;
        max-width: 50%;
        height: 850px;
        top: 360px;
        right: 50%;
        z-index: 1; /* The z-index should be higher than Google Maps */
        padding: 0 15px;
        background: #fff;
//        opacity: .45; /* Set the opacity for a slightly transparent Google Form */
        h1 {
            margin: 50px 0;
        }
        p {
            width: 400px;
        }
        a, i {
            font-size: 18px;
            margin: 20px 0;
			text-decoration: none;
			&:hover {
				color: $green;
			}
        }
        i {
            color: $green;
            width: 25px;
        }
        h2 {
            font-size: 18px;
            font-weight: 400;
            margin: 20px 0 40px;
        }
        .contact-fields {
            height: 300px;
        }
    }

}