#event {
	section.event-details {
		padding: 30px 0;
		.event-name {
			font-size: 36px;
		}
		.detail-bar {
			margin: 20px 0;
			padding: 10px;
			line-height: 1;
//			max-width: 560px;
			li {
				padding-right: 40px;
			}
		}
		.event-image {
			margin-left: 30px;
			margin-bottom: 30px;
		}
		span {
			text-align: justify;
		}
	}
}