.uk-navbar-nav>li>a {
	font-family: $base-font;
	line-height: 60px;
	height: 60px;
}

.uk-navbar-nav>li.uk-active>a {
    background-color: rgba(0,0,0,0.13);
    color: #444;
}

.uk-navbar {
    background: #fff;
    color: #444;
}

.uk-navbar-brand {
	padding: 0;
	img {
		max-height: 50px;
		position: relative;
		top: 5px;
	}
}

#menu {
	.donatii {
		a:before {
			content: "";
			display: block;
			width: 98%;
			margin: auto;
			height: 30px;
			border-radius: 3px;
			border: 1px solid $green;
			position: absolute;
			top: 50%;
			left: 0;
			right: 0;
			transform: translateY(-50%);
		}
	}
}