#hero {
	height: 300px;
	background-color: #eee;
	background-size: cover!important;
	background-repeat: no-repeat!important;
	background-position: 50% 0; 
	position: relative;
	&:after {
		content: "";
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		height: 10px;
		width: 50%;
		background: $green;
	}
	&:before {
		content: "";
		display: block;
		width: 50%;
		position: absolute;
		bottom: 0;
		right: 0;
		height: 10px;
		background: $dark-green;
	}
	.hero-content {
		position: absolute;
		max-width: 50%;
		bottom: 30px;
		color: #fff;
		h1 {
			padding-bottom: 30px;
			color: #fff;
			font-size: 48px;
			text-shadow: 10px 10px 10px rgba(0, 59, 73, 1);
		}
		span {
			text-shadow: 0px 0px 20px rgba(0, 59, 73, 1);
		}
	}
	.uk-grid,
	.uk-container,
	div[class*=".uk-width"] {
		height: 100%;
		position: relative;
	}
}