#mediaGallery {
	min-height: 550px;
	background-size: cover!important;
	background-repeat: no-repeat!important;
	background-position: center center!important;
	background-attachment: fixed!important;
	text-align: center;
	padding: 30px 0;
	h1 {
		color: #fff;
	}
	#box-container {
		margin-top: 30px;
		max-height: 400px;
		overflow-x: hidden;
		overflow-y: scroll;
		.box {
			width: 25%;
			height: 135px;
			position: relative;
			display: block;
			float: left;
			overflow: hidden;
			background: $dark-green;
			&:before {
				content: "\f00e";
				font-family: "FontAwesome";
				display: block;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				position: absolute;
				color: #fff;
				font-size: 24px;
			}
			a {
				display: block;
				width: 100%;
				height: 100%;
			}
			img {
				position: absolute;
				top: 0;
				left: 50%;
				opacity: 1;
				transition: all 0.3s ease;
				transform: translateX(-50%);
				&.wide {
					min-height: 100%;
					width: auto;
					max-width: 100%;
				}
				&.tall {
					width: 100%;
					height: auto;
				}
			}
			&:hover {
				img {
					opacity: 0;
				}
			}
			.swipebox-video:hover {
				&:after {
					display: none;
				}
			}
			.swipebox-video:after {
				content: "\f04b";
				font-family: "FontAwesome";
				display: block;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				position: absolute;
				color: #fff;
				font-size: 34px;
			}
		}
		&::-webkit-scrollbar {
			display: none;
		}
		&::-moz-appearance {
			display: none;
		}
	}
	&:after {
		content: "";
		display: block;
		bottom: 0;
		left: 0;
		right: 0;
		height: 185px;
		width: 100%;
		position: absolute;
		pointer-events: none;
		background: url('../images/gallery_overlay.png');
		background-size: cover;
		background-position: center bottom;
		background-repeat: no-repeat;
	}
}
