
#testimonials {
	padding: 50px 0;
	.uk-slideset {
		padding-top: 30px;
	}
	.testimonial {
		min-height: 250px; 
		.testimonial-image {
			margin-bottom: 20px;
			img {
				max-height: 100px;
				max-width: 100px;
				border: 3px solid $green;
			}
		}
		.testimonial-text {
			font-size: 18px;
			font-style: italic;
			line-height: 27px;
			font-weight: 300;
			max-width: 260px;
			margin: auto;
		}
		
		.testimonial-author {
			font-size: 12px;
			color: #999;
			margin-top: 10px;
		}
	}

}
/*
 * 1. Gutter
 * 2. Remove default list style
 */
.uk-dotnav {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  /* 1 */
  margin-left: -15px;
  margin-top: -15px;
  /* 2 */
  padding: 0;
  list-style: none;
}
/*
 * 1. Space is allocated solely based on content dimensions
 * 2. Horizontal gutter is using `padding` so `uk-width-*` classes can be applied
 */
.uk-dotnav > * {
  /* 1 */
  -ms-flex: none;
  -webkit-flex: none;
  flex: none;
  /* 2 */
  padding-left: 15px;
  margin-top: 15px;
}
/*
 * DEPRECATED IE9 Support
 */
.uk-dotnav:before,
.uk-dotnav:after {
  content: "";
  display: block;
  overflow: hidden;
}
.uk-dotnav:after {
  clear: both;
}
.uk-dotnav > * {
  float: left;
}
/* Items
 ========================================================================== */
/*
 * Items
 * 1. Hide text if present
 */
.uk-dotnav > * > * {
  display: block;
  box-sizing: content-box;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rgba($dark-green, 1);
  /* 1 */
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
}
/*
 * Hover
 * 1. Apply hover style also to focus state
 * 2. Remove default focus style
 */
.uk-dotnav > * > :hover,
.uk-dotnav > * > :focus {
  background: rgba($green, 1);
  /* 2 */
  outline: none;
}
/* OnClick */
.uk-dotnav > * > :active {
    background: rgba($green, 1);
}
/* Active */
.uk-dotnav > .uk-active > * {
    background: rgba($green, 1);
}
