#volunteer {
    .vol-wrap {
        margin-right: 10px;
        h1 {
            margin: 40px 0;
        }
        p {
            margin-bottom: 50px;
        }
        h2 {
            font-size: 18px;
            font-weight: 400;
            margin-bottom: 30px;
        }
        .signup-fields {
            height: 300px;
        }
        .uk-button {
            margin-bottom: 50px;
        }
    }

    .vol-images {
        background-color: $grey;
        padding: 50px;
        .img {
            margin: 1px;
            background-size: auto;
            background-repeat: no-repeat;
            background-position: center;
        }
        .img1  {
            height: 370px;
        }
        .img2 {
            height: 184px ;
        }
        .img3 {
            height: 185px;
        }
    }
    .uk-grid+.uk-grid, .uk-grid-margin, .uk-grid>*>.uk-panel+.uk-panel {
        margin-top: 0;
    }

}